.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5rem 10rem 5rem;
  position: relative;
}

.Wave {
  position: absolute;
  left: 0;
  top: 0%;
  transform: translate(-50%, 50%);
  z-index: -1;
}

.Footer > h3 {
  width: 65%;
  margin-right: 1rem;
}

@media (max-width: 900px) {
  .Wave {
    transform: scale(0.75) translate(-50%, -50%);
  }
}

@media (max-width: 750px) {
  .Footer {
    flex-direction: column;
    padding: 2rem;
  }

  .Footer > h3 {
    width: 100%;
    padding: 0 0 2rem 0;
    text-align: center;
  }

  .Wave {
    left: 0;
    top: 50%;
    transform: scale(0.75) translate(-75%, -120%);
  }
}
